.mat-table {
    width: 95%;
    margin-left:50px;
    margin-right:50px;
    align-self: center;
    max-height: 400px;
    overflow: auto;
  }
  .mat-table {
    overflow-x: scroll;
  }
  .table-container {
    margin-top: 10px;
    min-height:400px;
    max-height: 800px;
    overflow: auto;
  }
  
  td.mat-cell:first-child {
    /* row border */
    border-left: 1px solid rgb(187, 124, 129);
  }
  
  td.mat-cell:last-child {
    /* row border */
    border-right: 1px solid  rgb(187, 124, 129);
  }
.title {    
    margin-left:50px;
    margin-right:50px;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 20px 6px;
    font-size: 14px;
    clear:both;
  }

.title .btn { float:right }
.title .header { float:left }
.mat-header-cell {
  font-size: large;
  font-weight: bold;
  background-color: rgb(187, 124, 129);
}
.mat-row:nth-child(odd){
  background-color:rgb(243, 240, 240);
}
.example-button-row{
     margin-left:50px;
     padding-bottom: 16px;
  }
 .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
    background:whitesmoke;
  }
  
  
  .card {
    width: 93%;
    margin-left:50px;
    margin-right:50px;
    align-self: center;
    padding-bottom: 20px;
  }
  mat-form-field{
    width:100%;
  }
  .tableEntry {
    width: 100%;
  }