table {
    width: 95%;
    margin-left:50px;
    margin-right:50px;
    align-self: center;
  }
  
.title {    
    margin-left:50px;
    margin-right:50px;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 20px 6px;
    font-size: 14px;
    clear:both;
  }

.title .btn { float:right }
.title .header { float:left }
.time{
  font-size: xx-small;
  font-style: italic;
}
.example-button-row{
     margin-left:50px;
     padding-bottom: 16px;
  }  
  td.mat-cell:first-child {
    /* row border */
    border-left: 1px solid rgb(187, 124, 129);
  }
  
  td.mat-cell:last-child {
    /* row border */
    border-right: 1px solid  rgb(187, 124, 129);
  }
  
  .card {
    width: 93%;
    margin-left:50px;
    margin-right:50px;
    align-self: center;
    padding-bottom: 20px;
  }
  mat-form-field{
    width:100%;
  }
  .tableEntry {
    width: 100%;
  }
.sched{
  font-size: smaller;
  max-width: 150px;
}
  .mat-header-cell {
    justify-content: center;text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: rgb(187, 124, 129);
  }
  .mat-row:nth-child(odd){
    background-color:rgb(243, 240, 240);
  }
  .mat-cell {
    text-align: center;
    justify-content:center;
  }
.table-container {
  margin-top: 10px;
  min-height:400px;
  max-height: 500px;
  overflow: auto;
}